In [1]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first": ["Corey"],
    "last" : ["Schafer"],
    "email": ["CoreyMSchafer@gmail.com"]
}

In [3]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last" : ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [4]:
people["email"]

['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [7]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [8]:
type(df['email'])

pandas.core.series.Series

In [10]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@gmail.com
2      Doe        JohnDoe@gmail.com

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[[0, 1], 'e']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

In [13]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [15]:
df.loc[[0, 1], 'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object